/* ESTABLISHING A CLEAN SLATE */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

/* NAVBAR STYLING */

nav{
    background-color: #ffffff;
    height: 65px;
    width: 100%;
    border-bottom: 1px solid rgba(28, 19, 158, 0.137);
    position: sticky;
    top: 0;
    z-index: 1;
}

.checkbtn{
    color: black;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 65px;
    margin: 0 20px;
}

nav ul li a{
    color: black;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 18px;
    text-decoration: none; 
}

a:hover{
    background-color: black;
    color: white;
    border-radius: 40px;
    transition: 500ms ease;
}

/* "PETSTOP" STYLING INSIDE NAVBAR */

span.logo{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: 65px;
    padding: 0px 60px;
    font-weight: 900;
}

.sub{
    margin-top: 18px;
    font-weight: 500;
    text-align: justify;
}

#selections{
    text-align: center;
}

/* TABLE STYLING */

.table{
    font-size: 13px;
    text-align: center;
}

.move{
    margin-top: 5px;
}

table, th, td{
    width: 950px;
    margin: auto;
    padding: 7px;
    text-align: center;
    border: 1px solid black !important;
}

/* GOOGLE AND YOUTUBE SEARCH BARS */

.search{
    font-weight: 500;
    text-align: justify;
}

.form2, .form1{
    margin-top: 10px;
    text-align: center;
}

/* BUTTONS */

.btn1, .btn2, .btn3{
padding: 10px 25px;
border-radius: 40px;
background-color: black;
font-family: 'inter', sans-serif;
font-size: 13px;
font-weight: 700;
color: #ffffff;
margin-top: 15px;
transition: 0.25s;
}

.btn1:hover, .btn2:hover, .btn3:hover{
border: 2px solid black;
color: black;
background-color: #ffffff;
}

.form11{
    padding: 8px 25px;
    border-radius: 40px;
}

.middle{
    text-align: center;
    margin-top: 25px;
}

.selections{
    margin-top: 30px;
    font-weight: 500;
    text-align: justify;
}

.select, .select2, .select3{
    border-radius: 7px;
    padding: 8px 20px;
}


.flabel{
    font-size: 13px;
}

.contact{
    font-weight: 500;
}

.fill{
width: 70%;
border: 1px solid black;
outline: none;
background: #ffffff;
padding: 15px;
margin: 15px 0;
color: black;
font-size: 13px;
font-family: 'inter', sans-serif;
border-radius: 40px;
}

.fill1{
    margin-top: 10px;
}

.help{
    margin-top: 37px;
    margin-bottom: 7px;
    font-weight: 500;
}

/* CONTACT ICONS */

#envelope, #square{
    color: black;
    font-size: 15px;
    margin-right: 15px;
}

.p6{
    margin-top: -15px;
}

.p5, .p6{
    font-size: 13px;
    font-weight: 500;
}

/* COPYRIGHT */

.copyright{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-top: 10px;
    background: #000000;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-size: 13px;
    color: white;
    height: 50px;
    border-radius: 40px;
}

/* "SUCCESS MESSAGE" FOR FORM SUBMISSION*/

#msg{
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #61b752;
    margin-top: 6px;
    display: block;
}

/* FINAL FORMATTING */

.wrap{
    margin: 0px 15px;
}

/* MEDIA QUERIES FOR PHONES AND TABLETS */

@media (max-width: 1025px){
    table, th, td{
        width: 300px;
        padding: 5px;
        font-size: 6px;
    }

    .sub, .search{
        font-size: 15px;
    }

    .form11{
        font-size: 11px;
    }

    .btn1, .btn2, .btn3{
        padding: 10px 25px;
        font-size: 11px;
    }

    .middle{
        font-size: 15px;
        margin-top: 25px;
    }

    .selections{
        font-size: 15px;
    }

    h6{
        font-size: 15px !important; 
    }

    .select, #male, #female, .select2, .select3{
        font-size: 11px;
    }

    .contact{
        font-size: 15px;
    }

    .fill{
        padding: 15px;
        margin: 15px 0;
        color: black;
        font-size: 11px;
        font-family: 'inter', sans-serif;
        border-radius: 40px;
        }

    .help{
        font-size: 14px;
        font-weight: 500;
    }

    p, .p5, .p6{
        font-size: 12px;
    }

    span.logo{
        color: black;
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        line-height: 65px;
        padding: 0px 35px;
        font-weight: 900;
    }

    .checkbtn{
        display: block;
        margin-top: 16px;
        cursor: pointer;
    }

    .checkbtn:hover{
       border-radius: 10px;
       background-color: rgb(233, 233, 233);
    }
    
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: hsl(0, 0%, 100% / 0.1);
        backdrop-filter: blur(6.5px);
        left: -100%;
        transition: all 550ms ease-in-out;
    }
    
    nav ul li{
        display: block;
    }

    #check:checked ~ ul{
        left: 0;
    }
}


    
